.cart-icon-container {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    height: 2em;
}

.item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8em;
}